<%= provide :title, 'About' %>

<h1>About United Way</h1>

<div class='row'>
  <div class='col-md-6'>

    <div class='center-block'>
      <%= image_tag('hero.jpg', { alt: 'About United Way', width: '570', height: '230' }) %>
    </div>
    <div class='spacer'></div>

    <p>
      United Way Worldwide is the leadership and support organization for the network of nearly 1,800
      community-based United Ways in 45 countries and territories.
      We envision a world where all individuals and families achieve their human potential through education,
      income stability and healthy lives.
    </p>
    <p>
      To advance the common good and mobilize the caring power of communities around the world, we will:
    </p>
    <ul>
      <li>
        Ignite a worldwide social movement, and thereby mobilize millions to action — to give, advocate and
        volunteer to improve the conditions in which they live.
      </li>
      <li>
        Galvanize and connect all sectors of society — individuals, businesses,
        non-profit organizations and governments — to create long-term social change that produces healthy,
        well-educated and financially-stable individuals and families.
      </li>
      <li>
        Raise, invest and leverage billions of dollars annually in philanthropic contributions to create and
        support innovative programs	and approaches to generate sustained impact in local communities.
      </li>
      <li>
        Hold ourselves accountable to this cause through our steadfast commitment
        to continually measure — in real terms — improvements in education, income and health
      </li>
    </ul>
  </div>
</div>