<%= provide :title, 'Profile' %>

<h1>Profile</h1>

<h4>You've registered for</h4>

<table id="reg-table" class='table table-striped'>
  <thead>
  <tr>
    <th id='reg-table-name'>Name</th>
    <th id='reg-table-description'>Description</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>