// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_forms
{
  background-image:url(image_path('hands_up.jpg'));
  min-height: 400px;
  min-width: 768px;
}

#session_facebook_form
{
  margin-left:40px;
}