// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_forms
{
  min-height: 400px;
  min-width: 768px;
}


body.login:before {
  content: "";
  position: absolute;
  background: url('/images/login_background.jpg');
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  height: 100%; width: 100%; /* Using Glen Maddern's trick /via @mente */
  -webkit-filter: blur(6px);
  /* don't forget to use the prefixes you need */
  transform: scale(5);
  transform-origin: top left;
  filter: blur(20px);
}

h1.login
{
  color: #fff;
}

h4.login
{
  color: #fff;
}


h2.login
{
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 38px;
  clear: both;
  line-height: 1.0em;
  margin-bottom: 20px;
  letter-spacing: -2px;
  color: #fff;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-shadow: 1px 1px #555;
}

h5.login
{
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  clear: both;
  line-height: 1.0em;
  margin-bottom: 20px;
  letter-spacing: -1px;
  color: #fff;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  text-shadow: 1px 1px #555;
}